h1, h2, h3, h4, p, div, span, button, input {
  font-family: 'Open Sans', sans-serif;
}

.form-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mars-form {
  border-bottom: 1px solid #d2d3d4;
  padding: 30px;
}

.mars-form h1 {
  font-size: 36px;
  margin: 20px;
}

.control-wrap {
  display: flex;
  justify-content: center;
}

.item-input, .item-submit {
  box-sizing: border-box;
  border: 1px solid #d2d3d4;
  margin: 10px;
  padding: 8px;
}

.item-input {
  width: 180px;
}
  
